<div class="image-container" style="display: flex; justify-content: center; align-items: center; height: auto; margin: 0px 15px;">
    <img src="https://cdn.shopify.com/s/files/1/0811/3946/6587/files/Huf-Shop-Logo.png?v=1706440226" alt="G端nter Weissenborn" title="G端nter Weissenborn" style="max-width: 300px; border-radius: 10px;">
</div>


<div class="image-container" style="display: flex; justify-content: center; align-items: center; height: auto; margin: 0px 15px;">
    <img src="https://cdn.shopify.com/s/files/1/0811/3946/6587/files/Guenter_Weissenborn.webp?v=1708267694" alt="G端nter Weissenborn" title="G端nter Weissenborn" style="max-width: 300px; border-radius: 10px;">
</div>